<!DOCTYPE HTML>
<html>
<head>
<title>Gretong a Ecommerce Category Flat Bootstarp Responsive Website Template | Women :: w3layouts</title>
<link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="~/Scripts/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
<!-- start menu -->
<link href="~/Content/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="~/Scripts/js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="~/Scripts/js/menu_jquery.js"></script>
<script src="~/Scripts/js/simpleCart.min.js"> </script>
</head>
<body>
    @{ 
        List<BaiTapLon.Models.Entities.TungSanPham> listTungSanPham = ViewBag.SanPham;
    }
    <!-- header_top -->
    @RenderPage("~/Views/Share/header_top.cshtml");
    <!-- header -->
    @RenderPage("~/Views/Share/header.cshtml");
    <!-- content -->
    <div class="container">
        <div class="women_main">
            <!-- start sidebar -->
            <div class="col-md-3 s-d">
                <div class="w_sidebar">
                    <div class="w_nav1">
                        <h4>All</h4>
                        <ul>
                            <li>@Html.ActionLink("NIKE", "WomenShoeFirm", "BaiTapLon", new { ShoeFirm = "NIKE" }, null)</li>
                            <li>@Html.ActionLink("ADIDAS", "WomenShoeFirm", "BaiTapLon", new { ShoeFirm = "ADIDAS" }, null)</li>
                            <li>@Html.ActionLink("ASICS", "WomenShoeFirm", "BaiTapLon", new { ShoeFirm = "ASICS" }, null)</li>
                        </ul>
                    </div>
                    <h3>filter by</h3>
                    <section class="sky-form">
                        <h4>catogories</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>kutis</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>churidar kurta</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>salwar</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>printed sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>brand</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>vishud</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>amari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>colour</h4>
                        <ul class="w_nav2">
                            <li><a class="color1" href="#"></a></li>
                            <li><a class="color2" href="#"></a></li>
                            <li><a class="color3" href="#"></a></li>
                            <li><a class="color4" href="#"></a></li>
                            <li><a class="color5" href="#"></a></li>
                            <li><a class="color6" href="#"></a></li>
                            <li><a class="color7" href="#"></a></li>
                            <li><a class="color8" href="#"></a></li>
                            <li><a class="color9" href="#"></a></li>
                            <li><a class="color10" href="#"></a></li>
                            <li><a class="color12" href="#"></a></li>
                            <li><a class="color13" href="#"></a></li>
                            <li><a class="color14" href="#"></a></li>
                            <li><a class="color15" href="#"></a></li>
                            <li><a class="color5" href="#"></a></li>
                            <li><a class="color6" href="#"></a></li>
                            <li><a class="color7" href="#"></a></li>
                            <li><a class="color8" href="#"></a></li>
                            <li><a class="color9" href="#"></a></li>
                            <li><a class="color10" href="#"></a></li>
                        </ul>
                    </section>
                    <section class="sky-form">
                        <h4>discount</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                            </div>
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- start content -->
            <div class="col-md-9 w_content">
                <div class="women">
                    <a href="#"><h4>Enthecwear - <span>@listTungSanPham.Count() itemms</span> </h4></a>
                    <ul class="w_nav">
                        <li>Sort : </li>
                        <li><a class="active" href="#">popular</a></li> |
                        <li><a href="#">new </a></li> |
                        <li><a href="#">discount</a></li> |
                        <li><a href="#">price: Low High </a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- grids_of_4 -->

                @for (int j = 0; j < listTungSanPham.Count / 4; j++)
                {
                    <div class="grids_of_4">
                        @for (int i = 4 * j; i < 4 * (j + 1) && i < listTungSanPham.Count; i++)
                        {
                            <div class="grid1_of_4">
                                <div class="content_box">
                                    <img src="@listTungSanPham[i].Image" class="img-responsive" alt="" />
                                    <h4>@Html.ActionLink(listTungSanPham[i].Name, "details", "BaiTapLon", new { Name = listTungSanPham[i].Name }, null)</h4>
                                    <p>It is a long established fact that</p>
                                    <div class="grid_1 simpleCart_shelfItem">

                                        <div class="item_add"><span class="item_price"><h6>ONLY $@listTungSanPham[i].Price .00</h6></span></div>
                                        <div class="item_add"><span class="item_price"><button id="@i">add to cart</button></span></div>
                                    </div>
                                </div>
                            </div>  
                            <script>
                                @*$(document).ready(function () {
                                    var tungSanPham = { Image:'@listTungSanPham[i].Image', Price:@listTungSanPham[i].Price, Name:'@listTungSanPham[i].Name', ShoeFirm:'@listTungSanPham[i].ShoeFirm' };
                                    $("#@i").click(function{
                                        $.ajax({
                                            type: "POST",
                                            contentType: "application/json; charset=utf-8",
                                            data: { tungSanPham: JSON.stringify(tungSanPham) },
                                            url: "/AddSanPham",
                                            success: function (data) {
                                                if (data == "Success")
                                                    alert("Thêm Thành Công");
                                                else
                                                    alert("Thêm Không Thành Công");
                                            });
                                        });
                                });*@


                                $(document).ready(function () {
                                    $("#@i").click(function(){
                                        $.ajax({
                                                url: "https://localhost:44307/addsanpham",
                                                data:
                                                {
                                                Image:"@listTungSanPham[i].Image",
                                                Price:@listTungSanPham[i].Price,
                                                Name: "@listTungSanPham[i].Name",
                                                ShoeFirm:"@listTungSanPham[i].ShoeFirm"
                                                },
                                                success: function (data) {
                                                    if (data == "Success")
                                                        alert("Thêm Thành Công");
                                                    else
                                                        alert("Thêm Không Thành Công");
                                                }
                                                });
                                    });
                                });
                            </script>
                        }
                    </div>
                }
                <!-- end grids_of_4 -->
            </div>
            <div class="clearfix"></div>

            <!-- end content -->
        </div>
    </div>
    @RenderPage("~/Views/Share/footer.cshtml");
</body>
</html>